.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input {
  margin-bottom: 10px;
}

.input div.label {
  width: 275px;
};

.overview {
  padding-top: 25 px;
  margin-bottom: 15 px;
  font-size: 1.25em;
}



